body {
  background-color: #f0eded;
}

.todo-item {
  display: flex;
  padding: 10px;
  border: 1px solid #d8d6d6;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  height: 20px;
  margin: auto;
  color: #817c7c;
  background-color: #fff;
}

#kebab {
  color: #d8d6d6;
}

.last-para {
  background: #eceaea;
  justify-content: center;
}
